.row{
    font-weight: bold;
    text-align: center;
}

.construction {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.custom-dropdown .Select--multi .Select-value {
    background-color: #fcba03;
    border-color: #e3a700;
    color: #fff;
  }